@import "../../scss/variables";

.team-member-container {
  .team-member {
    display: flex;
    height: 50%;
    @media screen and (min-width: map-get($screen-sizes, md)) {
      height: 100%;
    }

    img {
      height: inherit;
      width: 50%;
      object-fit: cover;
    }
    &.left {
      flex-direction: row-reverse;
    }
  }
}
