@import "../../scss/variables";

:global {
  @import "~normalize.css";
  @import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");

  body {
    font-family: "Lato", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  #root {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}

.app-body-container {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: map-get($screen-sizes, md)) {
    flex-direction: row;
  }
}

.app-body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
