@import "../../scss/variables";
@import "../../scss/mixins";

.team-member {
  flex: auto;
  text-align: center;
  padding: 0.25rem;
  width: 100%;

  @media screen and (min-width: map-get($screen-sizes, xs)) {
    width: 15rem;
  }
  @media screen and (min-width: map-get($screen-sizes, sm)) {
    width: 17.5rem;
  }

  @media screen and (min-width: map-get($screen-sizes, md)) {
    width: 20rem;
  }

  @media screen and (min-width: map-get($screen-sizes, xl)) {
    width: 25rem;
  }

  .thumb {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 10rem;
    position: relative;
    width: 100%;
  }

  .team-member-description-container {
    align-items: center;
    display: none;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
  }
  @media screen and (hover: hover) {
    &:hover {
      .team-member-description-container {
        background: rgba(0, 0, 0, 0.4);
        display: flex;
      }
    }
  }

  .team-member-description {
    background: radial-gradient(ellipse, rgba(0, 0, 0, 0.2), transparent);
    border-radius: 6rem;
    color: white;
    padding: 1rem;
  }

  .team-member-name {
    @include text-ellipsis();
    background: black;
    color: white;
    margin: {
      bottom: 0;
      top: auto;
    }
    padding: {
      bottom: 0.5rem;
      top: 0.5rem;
    }
    @media screen and (min-width: map-get($screen-sizes, md)) {
      padding: {
        bottom: 1rem;
        top: 1rem;
      }
    }
  }
}
